@import url('https://fonts.googleapis.com/css2?family=Georama:wght@200&family=Montserrat&family=Poppins:wght@400;900&family=Roboto&family=Style+Script&display=swap');
* {
	background: #24252a;
	margin-top: 0;
	margin-bottom: 0;
}
.nav {
	display: flex;
}
.nav h1 {
	color: #edf0f1;
	font-size: 4em;
	font-family: 'Style Script';
	text-align: left;
	margin-top: 9rem;
	margin: 1rem 15rem 0 1.5rem;
}
.nav-bar {
	display: flex;
	margin-left: auto;
	margin-top: 2.5rem;
}
.nav-op {
	margin-right: 8.5rem;
}
.nav-op li {
	list-style-type: none;
}
.nav-op li a {
	color: #edf0f1;
	text-decoration: none;
	font-size: 1.1em;
	font-family: 'Montserrat';
	text-transform: uppercase;
}
.pr {
	display: flex;
	margin-top: 3rem;
}
.pr img {
	max-width: 45rem;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
.pr_desc {
	margin-top: 2rem;
}
.pr_desc h2 {
	color: #edf0f1;
	font-size: 5em;
	font-family: 'Style Script';
	text-align: center;
}
.pr_desc p {
	color: #c7c7c7;
	font-size: 1.2em;
	font-family: 'Montserrat';
	text-align: center;
	margin-left: 2rem;
	margin-right: 2rem;
}
.social {
	display: flex;
	margin: -5rem 0 0 56rem;
}
.social .button {
	height: 3.75rem;
	width: 3.75rem;
	margin-right: 1rem;
	overflow: hidden;
	border-radius: 3.125rem;
	cursor: pointer;
	box-shadow: 0 0.70rem 0.70rem rgba(0,0,0,0.1);
	transition: all 0.3s ease-out;
}
.social .button .icon {
	display: block;
	height: 3.75rem;
	width: 3.75rem;
	text-align: center;
	border-radius: 3.12rem;
	box-sizing: border-box;
	line-height: 3.75rem;
	transition: all 0.3s ease-out;
}
.social .button:hover .icon,
.social .button:hover i {
	background: #edf0f1;
}
.social .button .icon i {
	color: #edf0f1;
	font-size: 1.563em;
	line-height: 3.75rem;
	transition: all 0.3s ease-out;
}
.social .button:hover .icon i {
	color: #24252a;
}
.sctl {
	margin-top: 8rem;
}
.sctl h2 {
	color: #edf0f1;
	font-size: 3em;
	font-family: 'Poppins';
	font-weight: 900;
	text-transform: capitalize;
	text-align: center;
}
.un_line {
	background: #edf0f1;
	height: 0.2rem;
	width: 6.4rem;
	margin-left: auto;
	margin-right: auto;
}
.gcr_1 {
	margin-top: 5rem;
}
.gcr_1, .gcr_2, .gcr_3 {
	display: flex;
	justify-content: center;
	margin-bottom: 7.5rem;
}
.gc {
	background: #edf0f1;
	max-width: 28.5rem;
	border-radius: 10px;
	margin-right: 4rem;
	margin-left: 4rem;
}
.gc img {
	max-width: 28.5rem;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.gc h3 {
	color: #24252a;
	background: #edf0f1;
	font-size: 1.5em;
	font-family: 'Montserrat';
	text-transform: uppercase;
	text-align: center;
}
.gmc {
	background: #edf0f1;
	justify-content: center;
}
.gc .gmc h3 {
	color: #49f496;
	font-family: 'Poppins';
	font-size: 1em;
	font-weight: 400;
	text-transform: lowercase;
}
.accs {
	display: flex;
	background: #edf0f1;
	justify-content: center;
	margin-top: 0.6rem;
	padding-bottom: 1rem;
}
.accs h4 {
	color: #000;
	background: #edf0f1;
	font-size: 1.1em;
	font-family: 'Poppins';
	font-weight: 500;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
	margin: auto 2rem auto 0;
}
.accs h4 em {
	background: #edf0f1;
}
.accs li {
	background: #edf0f1;
	color: #24252a;
	font-size: 1em;
	font-family: 'Montserrat';
	font-weight: 700;
	text-transform: lowercase;
}
.btm_bar {
	background: #333;
	width: auto;
	margin-left: -3px;
	margin-right: -3px;
}
.btm_bar .nav {
	background: #333;
	margin: 0 -0.313rem -0.313rem -0.313rem;
}
.btm_bar .nav h1 {
	background: #333;
	margin-right: 3rem;
	margin-bottom: 1.1rem;
	padding-top: 0.2rem;
}
.btm_bar .nav-bar {
	background: #333;
	margin-left: 5.5rem;
	margin-top: auto;
	margin-bottom: auto;
}
.btm_bar .nav-bar .nav-op:nth-child(4) {
	margin-right: 0rem;
}
.con {
	background: #333;
	margin-left: 2.3rem;
	margin-top: auto;
	margin-bottom: auto;
}
.con p {
	color: #edf0f1;
	background: #333;
	font-size: 1.25em;
	font-family: 'Montserrat';
	font-weight: 700;
	text-transform: lowercase;
	text-align: center;
	margin-top: 0.7rem;
}
.btm_bar .nav-bar .nav-op,
.btm_bar .nav-bar .nav-op li,
.btm_bar .nav-bar .nav-op li a {
	background: #333;
}