@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
* {
	background: #189ab4;
	margin-top: 0;
}
.title {
	color: #d4f1f4;
}
.title h1 {
	font-size: 12em;
	font-family: 'Style Script';
	text-align: center;
	margin-top: 9rem;
}
.title p {
	font-size: 2em;
	font-family: 'Montserrat';
	text-align: center;
	font-weight: 600;
	margin-top: -5rem;
}
.gm {
	max-width: 25rem;
	background: #05445E;
}
.gm img {
	max-width: 25rem;
}
.gm h2 {
	color: #75E6DA;
	background: #05445E;
	font-size: 2em;
	font-family: 'Poppins';
}
.gm p {
	color: #24252a;
	background: #05445E;
}