@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
* {
	background: #edf0f1;
	margin-top: 0;
}
.nav-top {
	display: flex;
	margin-top: 1.5rem;
	margin: 1.5rem 0 0 1rem;
}
.title {
	color: #77df79;
	background: #edf0f1;
	float: left;
}
.title h1 {
	font-size: 3em;
	font-family: 'Style Script';
}
.nav {
	display: flex;
	margin-left: 25rem;
}
.nav-op {
	margin-right: 3rem;
}
.nav-op li {
	list-style-type: none;
}
.nav-op li a {
	text-decoration: none;
}